asdasdasdasdasdsadsads
:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #8b64e7;
    --pink-color: #C9009C;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #DDDDDD;
}

body,
btn {
    font-family: "Poppins", sans-serif;
}

/* Header */

header {
    background: url("../images/fondo1.png");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 1050px;
    /*background-blend-mode: multiply;*/
    position: relative; /* Establece el posicionamiento relativo en el elemento padre */
}

.tittle {
    position: absolute; /* Establece el posicionamiento absoluto */
    bottom: 50px; /* Mueve el título 50 píxeles hacia arriba de la parte inferior de la pantalla*/
    left: 50%; /* Centra el título horizontalmente */
    transform: translateX(-50%); /* Centra el título horizontalmente */
    color: black;
    font-size: 30px;
    text-align: center;
}
.tittle .btn {
    background-color: var(--main-color);
    border-radius: 20px;
    color: white;
    font-size: 36px; 
}
.tittle .btn:hover {
    background-color: var(--pink-color);
    color: white;
}

.navbar-nav {
    background-color: var(--main-color);
    display: flex;
    justify-content: center; /* Centro los elementos horizontalmente */
    align-items: center; /* Centro los elementos verticalmente */
    height: 100%; /* Asegura que los enlaces ocupen toda la altura de la barra de navegación */
}

.navbar-nav .nav-item {
    margin: 0 90px; /* Añade un espacio entre los elementos de navegación */
}

.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 15px;
}

/* Añade estilos para el botón del menú desplegable, si es necesario */
.navbar-toggler {
    background-color: white;
    border: none;
    color: var(--main-color);
}

.searching-input {
    position: absolute; /* Establece el posicionamiento absoluto */
    bottom: 288px; /* Mueve el título 280 píxeles hacia arriba de la parte inferior de la pantalla*/
    left: 460px; /* Centra el título horizontalmente */
    text-align: left;
    border: none;
    outline: none;
    background-color: white;
    font-size: 45px;
    width: 520px;
    height: 61px;
    border-radius: 50px;
}
.searching-input::placeholder {
    font-weight: 100;
    color: black;
}

/* End Header */

/* Registro */

#row-registro {
    background: url("../images/fondoregistro.png");
    background-position: center;
    background-size: cover;
    height: 1020px;
}

.register-form {
    transform: translateY(+280px); 
    background-color: var(--pink-color);
    width: 580px;
    height: 680px;
    margin: 0 auto; /* Centrar el formulario en la página */
    padding: 20px; /* Añadir un poco de espacio interno */
    border-radius: 60px;
}
.register-form .row {
    display: grid;
    background-color: var(--pink-color);
    transform: translateX(+5%);
    width: 510px;
    height: 60px;
    margin-bottom: 55px; /* Añadir espacio entre las filas */
}
.contact-input {
    border: none;
    outline: none;
    background-color: var(--pink-color);
    padding: 20px; /* Añadir un poco de espacio interno */
    font-size: 45px;
    width: 510px;
    height: 60px;
}

.contact-input::placeholder {
    font-weight: 100;
    color: white; /* Cambiar el color del texto del placeholder a blanco */
}

.line {
    display: block;
    border-top: 3px solid white; /* Agregar una línea superior para separar los placeholders */
    margin: 2px 0; /* Espacio superior e inferior para la línea */
}

/* End Registro */


/* Productos */

#row-productos {
    background: url("../images/fondo4.png");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 1050px;
    /*background-blend-mode: multiply;*/
}

/* End Productos */

/* About Us */

#row-about-us {
    background-image: url("../images/fondoaboutus.png");
    background-position: center;
    background-size: cover;
    height: 1020px;
}

.about-us {
    width: 100%;
    background-color: var(--light-two);
}

.background-bg {
    width: 100%;
    height: 520px;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

.about-us .title,
.about-us .title:before {
    color: var(--light-one);
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem;
    color: var(--light-one);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.filter-btn.active {
    background-color: var(--light-one);
    color: var(--pink-color);
}

.grid {
    width: 100%;
    margin: 1.5rem 0;
}

.grid-item {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 330px;
    width: 100%;
    cursor: pointer;
}

.gallery-image img {
    position: absolute;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    left: 85px;
    width: 260px;
    height: 100%;
    z-index: 2;
    background-color: rgba(171, 200, 226, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.5s;
}

.img-overlay h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

.more-about-us {
    display: flex;
    justify-content: center;
}
.more-about-us .btn {
    background-color: var(--light-one);
    border-radius: 20px;
    color: var(--pink-color);
    font-size: 36px; 
}
.more-about-us:hover .btn {
    background-color: rgba(171, 200, 226, 0.55);
}

/* End About Us */

/* Footer */

footer {
    background-color: var(--dark-one);
    bottom: 0;
    width: 100%;
    padding: 20px;
}

footer h4 {
    font-size: 24px;
}

footer p {
    font-size: 16px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

span {
    color: var(--main-color);
    cursor: pointer;
    font: bold;
}

.d-flex {
    justify-content: center;
}

/* End Footer */
